{% extends "admin/base.html" %}

{% load static %}


{% block title %}{{ title }} | {{ site_title|default:_('PMATEL Dashboard') }}{% endblock %}

{% block extrahead %}
    <link rel="icon" href="{% static 'images/favicon.png' %}" sizes="48x48" />
{% endblock %}



{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">  
{% endblock extrastyle %}


{% block branding %}
  <h1 id="head">
    <img src="{% static 'images/logo.png' %}" alt="PMATEL logo" title="PMATEL - Site de ventes de produits électriques" width="60" height="50">
  </h1>
{% endblock branding %}

{% block welcome-msg %}
                Bienvenue
                <strong>{% firstof user.get_short_name user.get_username %}</strong>.
{% endblock %}
