{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-option spad set-bg" data-setbg="{% static 'img/breadcrumb-bg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Qui somme nous ? </h2>
                    <div class="breadcrumb__links">
                        <a href="{% url 'index' %}">Home</a>
                        <span>PMATEL</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->

<!-- About Page Section Begin -->
<section class="about-page spad">
    <div class="container">
        <div class="row">
            <h1 class="m-3">sûr et sécuriser à 100%</h1>
            <div class="col-lg-4 col-md-4">
                <div class="about__text about__page__text">
                    <div class="section-title">
                        <span>Des avantages qui deviennent des solutions</span>
                        <h2>PMATEL</h2>
                    </div>
                    <div class="about__para__text">
                        <p>Une assistance technique et un service après vente assurés a long terme.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <div class="about__page__services">
                    <div class="about__page__services__text">
                        <p>Une équipe de réalisation a l’écoute et des d’ingénieurs techniques, d’études et de suivit
                            vous accompagne afin de vous soutenir tout au long de vos projet.</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="services__item">
                                <img src="{% static 'img/services/services-5.png' %}" alt="">
                                <h4>Notre Mission</h4>
                                <p>As you might expect of a company that began as a high-end interiors contractor,
                                    we pay strict attention. Anisotropic elements that randomly sample.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="services__item">
                                <img src="{% static 'img/services/services-6.png' %}" alt="">
                                <h4>Notre vision</h4>
                                <p>Our commitment to exceptional quality has never wavered. To day ranks as one of
                                    the most highly-regarded construction. Anisotropic elements that randomly
                                    sample.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Page Section End -->

<!-- Call To Action Section Begin -->
<section class="callto spad set-bg" data-setbg="{% static 'img/call-bg.jpg' %}">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-10 text-center">
                <div class="callto__text">
                    <h2><strong class="text-primary">CAME </strong> BPT</h2>
                    <h2>By SARL PMATEL</h2>
                    <h2 class="text-primary">Exclusive & Official Distributor Algeria</h2>
                    <a href="#" class="primary-btn about text-dark">Contacez-nous</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call To Action Section End -->

<!-- Counter Section End -->
<section class="counter spad set-bg" data-setbg="img/counter-bg.jpg">
    <div class="container">
        <div class="counter__content">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item">
                        <div class="counter__item__number">
                            <h2 class="count">85</h2>
                        </div>
                        <div class="counter__item__text">
                            <h5>Projets<br /> Réaliser</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item">
                        <div class="counter__item__number">
                            <h2 class="count">127</h2>
                        </div>
                        <div class="counter__item__text">
                            <h5>client<br /> Satisfait</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item">
                        <div class="counter__item__number">
                            <h2 class="count">36</h2>
                        </div>
                        <div class="counter__item__text">
                            <h5>Année<br /> D'éxperience</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item">
                        <div class="counter__item__number">
                            <h2 class="count">74</h2>
                        </div>
                        <div class="counter__item__text">
                            <h5>Cups Of<br /> Coffee</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Counter Section End -->



{% endblock content %}