{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-option spad set-bg" data-setbg="{% static 'img/breadcrumb-bg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Contact</h2>
                    <div class="breadcrumb__links">
                        <a href="{% url 'index' %}">Home</a>
                        <span>Contact</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->
<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="contact__text">
                    <div class="section-title">
                        <h2>Contact Details</h2>
                    </div>
                    <p>Nous serons ravis d'échanger avec vous.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="contact__widget__item">
                    <div class="contact__widget__item__icon">
                        <img src="img/contact/ci-1.png" alt="">
                    </div>
                    <div class="contact__widget__item__text">
                        <h5>Numeros de Téléphone</h5>
                        <span>+213 770 638 153</span>
                        <span>+213 550 93 61 28</span>
                        <span>+213 23 579 560</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="contact__widget__item">
                    <div class="contact__widget__item__icon">
                        <img src="img/contact/ci-2.png" alt="">
                    </div>
                    <div class="contact__widget__item__text">
                        <h5>Adresse Email</h5>
                        <span>camebptalgerie@pmatel.dz</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="contact__widget__item last__item">
                    <div class="contact__widget__item__icon">
                        <img src="img/contact/ci-3.png" alt="">
                    </div>
                    <div class="contact__widget__item__text">
                        <h5>Localisation</h5>
                        <span>Coopérative les vergers 2 – N°10 Birkhadem - Alger – ALGERIE</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="map">
      
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d1952.35286766093!2d3.0547731056532745!3d36.72769636847869!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0x0%3A0x70173da29c6f7224!2sCoop%C3%A9rative%20EPLF%20Les%20Vergers!3m2!1d36.7275665!2d3.0560258!5e0!3m2!1sen!2sdz!4v1606168987907!5m2!1sen!2sdz"
                height="460" style="border:0;" allowfullscreen=""></iframe>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <div class="contact__form__text">
                    <div class="section-title">
                        <span>Laissez nous un message</span>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="contact__form">
                    <form action="#">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <input type="text" placeholder="Nom">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <input type="text" placeholder="Email">
                            </div>
                            <div class="col-lg-12">
                                <textarea placeholder="Message"></textarea>
                                <button type="submit" class="site-btn">Envoyer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->


{% endblock content %}