{% extends 'base.html' %}
{% load static %}
{% static "img" as baseUrl %}

{% block content %}

<!-- Hero Section Begin -->
<section class="hero">
    <div class="hero__slider owl-carousel">
        <div class="hero__items set-bg" data-setbg="{% static 'img/hero/hero-1.jpg' %}">
            <div class="hero__text">
                <h2>Distributeur CAME BPT exclusif </h2>
                <a href="#" class="primary-btn">Découvrez PMATEL</a>
                <a href="#footer" class="more_btn">En Savoir Plus</a>
                <div class="hero__social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <div class="hero__items set-bg" data-setbg="{% static 'img/hero/hero-2.jpg' %}">
            <div class="hero__text">
                <h2 class="">Distributeur CAME BPT exclusif </h2>
                <a href="#" class="primary-btn">Découvrez PMATEL</a>
                <a href="#footer" class="more_btn">En Savoir Plus</a>
                <div class="hero__social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="slide-num" id="snh-1"></div>
    <div class="slider__progress"><span></span></div>
</section>
<!-- Hero Section End -->

<!-- About Section Begin -->
<section class="about ">
    <div class="container">
        <div class="row ">
            <div class="col-lg-6 ">
                <div class="about__text row justify-content-center">
                    <div class="section-title">
                        <!-- <span>Qui somme nous ?</span> -->
                        <h2 class="text-center">Là où il y a un problème, <br> nous apportons toujours une solution,
                            <br> le cas contraire,<br> plus de confort</h2>
                    </div>
                    <!-- <div class="about__para__text">
                        <p>Là où il y a un problème, nous apportons toujours une solution, le cas contraire, plus de
                            confort</p>
                    <p>Nous mettons le matériels et les solutions nécessaire afin de répondre a vos besoin</p>
                </div> -->
                    <a href="#" class="primary-btn normal-btn ">En Savoir Plus</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about__pic">
                    <div class="about__pic__inner">
                        <img src="{% static 'img/about-pic.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->

<!-- Project Section Begin -->
<section class="spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <!-- <span>Our works</span> -->
                    <h2>Nos solutions</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="project__slider owl-carousel">
                {% for solution in solutions %}
                <div class="col-lg-3">
                    <a href="{{ solution.get_absolute_url }}">
                        <div class="project__slider__item set-bg" data-setbg={{solution.photo_2.url}}>
                            <div class="project__slider__item__hover">
                                <h5>{{solution.name}}</h5>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>
<!-- Project Section End -->



<!-- Call To Action Section Begin -->
<section class="callto spad set-bg" data-setbg="{% static 'img/call-bg.jpg' %}">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-10 text-center">
                <div class="callto__text">
                    <h2><strong class="text-primary">CAME </strong> BPT</h2>
                    <h2>By SARL PMATEL</h2>
                    <h2 class="text-primary">Exclusive & Official Distributor Algeria</h2>
                    <a href="#" class="primary-btn about text-dark">Contacez-nous</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call To Action Section End -->

{% endblock content %}