{% extends 'base.html' %}
{% load static %}
{% static "img" as baseUrl %}

{% block content %}

<div class="breadcrumb-option spad set-bg" data-setbg="{% static 'img/breadcrumb-bg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Nos Produits</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Content page -->
<section class="bgwhite p-t-55 p-b-65">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <!--  -->
                <div class="flex-sb-m flex-w p-b-35">
                    <span class="s-text8 p-t-5 p-b-5">
                        <h3 >
                            Résultat de la recherche
                        </h3>
                    </span>
                </div>
                <!-- Product -->
                <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            
                            <div class="card" style="width: 20rem;">
                                {% if product.photo %}
                                    <img class="card-img-top" src="{{ product.photo.url }}" alt="{{product.name}}">
                                {%elif product.photo_2%}
                                    <img class="card-img-top" src="{{ product.photo_2.url }}" alt="{{product.name}}">
                                {% else %}
                                    <img class="card-img-top" src="/static/img/no-photo.jpg" alt="{{product.name}}">
                                {% endif %}
                                <div class="card-body">
                                  <h5 class="card-title">{{product.name}}</h5>
                                  <p class="card-text">Prix: {{product.price}} DA</p>
                                  <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                    {{ cart_product_form }}
                                    {% csrf_token %}
                                    <input type="submit" value="Ajouter au panier">
                                  </form>
                                </div>
                              </div>
                        </div>
                        
                    
                </div>
                <!-- <div class="row {% cycle 'flex-row' 'flex-row-reverse' %} container-product">
                    <div class="col-lg-6 ">
                        <div class=" row justify-content-center d-block">
                            <div class="section-title">
                                <h2 class="text-center">{{product.name}}</h2>
                            </div>
                            {% if product.sub_title %}
                                <div class="sous-titre">
                                    <h4 class="text-primary">
                                        {{product.sub_title}}
                                    </h4>
                                </div>
                            {% endif %}
                            <div class="about__para__text">
                                <p>{{produit.description|safe}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about__pic">
                            <div class="">
                                {% if product.photo %}
                                <img class="img-fluid" src="{{ product.photo.url }}" alt="{{product.name}}">
                                {%elif product.photo_2%}
                                <img class="img-fluid" src="{{ product.photo_2.url }}" alt="{{product.name}}">
                                {% else %}
                                <img class="img-fluid" src="/static/img/no-photo.jpg" alt="{{product.name}}">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div> -->


            </div>
        </div>
    </div>
</section>
{%endblock content%}