{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Blog Details Section Begin -->
    {% for produit in produit %}
      <h1>{{produit.name}}</h1>
    {% endfor %}
    <div class="breadcrumb-option spad set-bg" data-setbg="{% static 'img/breadcrumb-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>{{solution.name}}</h2>
                        <div class="breadcrumb__links">
                            <a href="{% url 'index' %}">Home</a>
                            <a href="{% url 'solution' %}">Solutions</a>
                            <span>{{solution.name}}</span>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="blog-details spad">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-10">
                    <div class="blog__details__content">
                        {% if request.path == '/solution/domotique/' %}
                            <div class="blog__details__title">
                                <h2 class="text-center">Fonctionalité principales</h2>
                            
                                
                                <img src="{% static 'img/fonctions.png' %}" alt="">
                                <p>{{solution.description|safe}}</p>
                                
                            </div>
                        {% else %}
                            <div class="blog__details__title">
                            
                                <h2 class="h1">{{solution.name}}</h2>
                                
                                <img src="{{solution.photo.url}}" alt="">
                                <p>{{solution.description|safe}}</p>
                            </div>
    
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
      
    <!-- Breadcrumb Section End -->
    
    <!-- domotique 2 -->
    <!-- About Section Begin -->
<!-- {% if request.path == '/solution/domotique/' %}
    <section class="about spad">
        <div class="container">
            <div class="row ">
                <div class="col-lg-6 ">
                    <div class="about__text row justify-content-center">
                        <div class="section-title">
                            <h2 class="text-center">Là où il y a un problème, <br> nous apportons toujours une solution,
                                <br> le cas contraire,<br> plus de confort</h2>
                        </div>
                     
                        <a href="#" class="primary-btn normal-btn ">En Savoir Plus</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about__pic">
                        <div class="about__pic__inner">
                            <img src="{% static 'img/about-pic.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endif %} -->
    <!-- domotique 2 FIN -->

    {% if produits %}


<section class="page-produits">

    <!-- About Section Begin -->
    <section class=" spad">
        <div class="container ">
            {% for produit in produits %}
                {% if produit.name == "THERMORÉGULATION"  %}
                    <section class="blog-details spad">
                        <div class="container">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-10">
                                    <div class="blog__details__content">
                                        <div class="blog__details__title">
                                        
                                            <h2 class="text-center">{{produit.name}}</h2>
                                            <div class="row  justify-content-center">
                                                <ul>
                                                    <li class=""> Volets roulants & stores </li>
                                                    <li class="">Scenarios </li>
                                                    <li class=""> Arrosage </li>
                                                    <li class=""> Porte & portails </li>
                                                </ul>
                                            </div>
                                            <img src="{{produit.photo.url}}" alt="">
                                            <p>{{produit.description|safe}}</p>
                                            <p class="collapse text-dark" id="big-text-2">Les terminaux à écran tactile du système domotique CAME DOMOTIC 3.0 incorporent une fonction qui permet de contrôler différentes zones thermiques avec des programmes que l'utilisateur peut entièrement personnaliser.
                                                La température des différentes zones est contrôlée par les sondes spécifiques dont chaque pièce est dotée.
                                                Il est possible, depuis un simple dispositif, de gérer la température de toute l'habitation</p>
                                         
                                            <div class="row justify-content-center">
                                                <span class="primary-btn normal-btn" data-toggle="collapse" href="#big-text-2" role="button" aria-expanded="false" aria-controls="big-text-2">Lire Plus</span>
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </section>
                {% elif produit.name == "automatisme & scénarios" %}
                <section class="spad">
                    <div class="container">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-10">
                                <div class="blog__details__content">
                                    <div class="blog__details__title">
                                    
                                        <h2 class="text-center">{{produit.name}}</h2>
                                        <img src="{{produit.photo.url}}" alt="">
                                        <p>{{produit.description|safe|linebreaks}}</p>
                                    </div>
                                    <div class="blog__details__text">
                                        
                                        
                                        <p class="collapse" id="big-text">
                                            Les moteurs des volets roulants ou des stores, les portails et les portes automatique le système d’arrosage peuvent être contrôlés depuis un point unique ou depuis plusieurs points positionnés dans la pièce. <br>

                                            Ce contrôle n’est plus effectué aujourd’hui au moyen de commandes fixes et définies comme une installation électrique traditionnelle, mais selon des logiques programmables, des positions variables et des fonction a développer en fonction de nos exigences. <br>

                                            La gestion du système par des scénarios permet d’effectuer par le biais d’une seule commande des opérations qui hier étaient encore compliquer et labourieuse.il suffi de pensé a celles effectuées avant de sortir de la maison u avant d’aller au lit comme par exemple éteindre les lumières baisser les volets et activer le system antivol dans les zones a protéger bref des opérations qui ne requièrent aujourd’hui qu’une seule commande a lancé depuis un point unique sans devoir se déplacer dans toute la maison.
                                            La connexion par le biais d’un seul câble bus entre tout les dispositifs installés permet en outre de développer et de modifier le système a tout moment en fonction des différentes exigence et de différents style de vie , même en cas de maison déjà meublée et habiter ou en cas de restructurions.
                                        </p>
                                        <div class="">
                                            <span class="primary-btn normal-btn" data-toggle="collapse" href="#big-text" role="button" aria-expanded="false" aria-controls="big-text">Lire Plus</span>
                                        </div>
                                    </div> 
                                    <div class="row d-flex justify-content-center">
                                        <h2 class="badge-dom"> <span class="m-3 badge badge-primary">Volets roulants & stores</span> </h2>
                                        <h2 class="badge-dom"> <span class="m-3 badge badge-success">Scenarios</span> </h2>
                                        <h2 class="badge-dom"> <span class="m-3 badge badge-secondary">Arrosage</span> </h2>
                                        <h2 class="badge-dom"> <span class="m-3 badge badge-danger">Porte & portails</span> </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                
                </section>

                {% elif produit.name == "CONTRÔLE A DISTANCE" %}
                    <div class="row {% cycle 'flex-row' 'flex-row-reverse' %} container-product">
                        <div class="col-lg-6 ">
                            <div class=" row justify-content-center d-block">
                                <div class="section-title">
                                    <h2 class="text-center">{{produit.name}}</h2>
                                </div>
                                {% if produit.sub_title %}
                                    <div class="sous-titre">
                                        <h4 class="text-primary">
                                            {{produit.sub_title}}
                                        </h4>
                                    </div>
                                {% endif %}
                                <div class="about__para__text">
                                    <p>{{produit.description|safe}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="about__pic">
                                <div class="">
                                    <img class="img-fluid " src="{{produit.photo.url}}" alt="{{produit.name}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    {% elif produit.name == "SUPERVISION" %}
                    <div class="row {% cycle 'flex-row' 'flex-row-reverse' %} container-product">
                        <div class="col-lg-6 ">
                            <div class=" row justify-content-center d-block">
                                <div class="section-title">
                                    <h2 class="text-center">{{produit.name}}</h2>
                                </div>
                                {% if produit.sous_titre %}
                                    <div class="sous-titre">
                                        <h4 class="text-primary">
                                            {{produit.sous_titre}}
                                        </h4>
                                    </div>
                                {% endif %}
                                <div class="about__para__text">
                                    <p>{{produit.description|safe}}</p>
                                    <p class="collapse" id="big-text-3">
                                        Grâce au serveur de système, l'installation peut être contrôlée depuis un dispositif portatif (tablette ou smartphone) doté d'une appli spécifique CAME DOMOTIC. <br>

                                        L'utilisateur dispose d'une interface graphique simple et intuitive, spécialement conçue pour faciliter l'interaction avec le système et l'utilisation de toutes les fonctions. Un contrôle total en un clin d'oeil
                                    </p>
                                    <div >
                                        <span class="primary-btn normal-btn" data-toggle="collapse" href="#big-text-3" role="button" aria-expanded="false" aria-controls="big-text-3">Lire Plus</span>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="about__pic">
                                <div class="">
                                    <img class="img-fluid " src="{{produit.photo.url}}" alt="{{produit.name}}">
                                </div>
                            </div>
                            </div>
                        <div class="row d-flex justify-content-center">
                            <h2 class="badge-dom"> <span class="m-3 badge badge-primary">Eclairage & automatisme</span></h2>
                            <h2 class="badge-dom"> <span class="m-3 badge badge-success">Scenarios</span></h2>
                            <h2 class="badge-dom"> <span class="m-3 badge badge-secondary">Alarme</span></h2>
                            <h2 class="badge-dom"> <span class="m-3 badge badge-secondary">vidéophonie</span></h2>
                        </div>
                    </div>
                    <hr>
                    {% else %}
                <div class="row {% cycle 'flex-row' 'flex-row-reverse' %} container-product">
                    <div class="col-lg-6 ">
                        <div class=" row justify-content-center d-block">
                            <div class="section-title">
                                <h2 class="text-center">{{produit.name}}</h2>
                            </div>
                            {% if produit.sous_titre %}
                                <div class="sous-titre">
                                    <h4 class="text-primary">
                                        {{produit.sous_titre}}
                                    </h4>
                                </div>
                            {% endif %}
                            <div class="about__para__text">
                                <p>{{produit.description|safe}}</p>
                                {% if produit.name == "éclairages" %}
                                <div class="row d-flex justify-content-center">
                                    <h2 class="badge-dom"> <span class="m-3 badge badge-primary">DALI</span> </h2>
                                    <h2 class="badge-dom"> <span class="m-3 badge badge-success">RGB</span> </h2>
                                    <h2 class="badge-dom"> <span class="m-3 badge badge-secondary">DIMER</span> </h2>
                                </div>
                                {% elif produit.name == "SUPERVISION" %}
                                <div class="row d-flex justify-content-center">
                                    <h2 class="badge-dom"> <span class="m-3 badge badge-primary">Eclairage & automatisme</span></h2>
                                    <h2 class="badge-dom"> <span class="m-3 badge badge-success">Scenarios</span></h2>
                                    <h2 class="badge-dom"> <span class="m-3 badge badge-secondary">Alarme</span></h2>
                                    <h2 class="badge-dom"> <span class="m-3 badge badge-secondary">vidéophonie</span></h2>
                                </div>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about__pic">
                            <div class="">
                                <img class="img-fluid " src="{{produit.photo.url}}" alt="{{produit.name}}">
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                    {% endif %}

            
            {% endfor %}
        </div>
    </section>
<!-- About Section End -->
{% endif %}

    <section class="blog-details spad">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-10">
                    <div class="blog__details__content">
                        
                     
                        <div class="blog__details__comment__form">
                            <h4>Passez une commande</h4>
                            <form action="#">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4">
                                        <input type="text" placeholder="Nom">
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <input type="text" placeholder="Adresse Email">
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <input type="text" placeholder="Téléphone">
                                    </div>
                                    <div class="col-lg-12">
                                        <textarea placeholder="Message"></textarea>
                                        <button type="submit" class="site-btn">Valider</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->
</section>
  
{% endblock content %}