{% extends 'base_small.html' %}
{% load static %}

{% block title}
Nos solutions
{% endblock title}

{% block content %}


<!-- Project Page Section Begin -->
<section class="project-page spad">
    <div class="container">
        <div class="row">
            {% for solution in solutions %}
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="project__item">
                        <img src="{{solution.photo.url}}" alt="{{solution.name}}">
                        <h4><a href="{% url 'produit' solution.slug %}">{{solution.name}}</a></h4>
                    </div>
                </div>
            {% endfor %}
<!-- 
            <div class="col-lg-12 text-center">
                <a href="#" class="primary-btn normal-btn">Load More</a>
            </div> -->
        </div>
    </div>
</section>
<!-- Project Page Section End -->

{% endblock content %}